name: Flask CI/CD

on:
  push:
    branches:
      - main

env:
  KUBE_NAMESPACE: default
  DEPLOYMENT_FILE: k8s/deployment.yaml

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - name: Checkout repo
        uses: actions/checkout@v3

      # Set up Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Log in to Docker Hub
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: dhivagargopal/flask-autoscale:latest

      # Set up kubectl
      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.28.0'

      # Configure Kubeconfig
      - name: Set kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config

      # Deploy to Kubernetes
      - name: Deploy Flask app
        run: |
          kubectl apply -f ${{ env.DEPLOYMENT_FILE }}
          kubectl rollout status deployment/flask-app -n ${{ env.KUBE_NAMESPACE }}
